@use 'style.css';

h1 {
  text-transform: uppercase;
  font-size: x-large;
}
.section-1 {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:auto;  
}
  .card {
    height: 300px;;
    width: 300px;
    box-shadow: 0 4px 10px 5px rgba(85, 84, 84, 0.2);
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    }
    .card-img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
   }
  #mainpic {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  }

  
  
    