@use 'style.scss';

.section-1 {
  grid-column: span 4;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-wrap:normal;
  width: 100%;
  
  .card {
    height: 25%;
    width: 25%;
    position: relative;
    box-shadow: 0 4px 10px 5px rgba(68, 65, 58, 0.2);
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: x-large;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      width: 100%;
      height: auto;
      overflow:auto;
   }
  }
}
  
  #mainpic {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  }

  
  
    