@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*body{background-color: #14bbdd;}*/
.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

header {
  background-color: #005371;
  grid-column: span 4;
}
header #logo {
  padding-top: 30px;
  padding-left: 30px;
}
header #searchBtn {
  position: relative;
  bottom: 32px;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 0px;
}
header .allNav {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header .allNav .disabled {
  color: #69858f;
}
header .allNav #navOne {
  grid-column: span 4;
  text-align: center;
  padding-bottom: 10px;
  word-spacing: 2em;
}
header .allNav #navTwo {
  grid-column: span 4;
  text-align: center;
  margin-bottom: 20px;
  word-spacing: 2em;
}

.main {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #005371;
  grid-column: span 4;
}

/*Dummy card
.card {
    width: 350px;
    position: relative;
    box-shadow: 0 4px 10px 5px rgba(68, 65, 58, 0.2);
    border-radius: 5%;
    margin: 20px 10px;
    padding: 20px;
    text-align: center;
    .link {
      position: relative;
    }
    h1 {
      color: aliceblue;
      text-shadow: 2px 2px 3px #272525;
      text-transform: uppercase;
      font-size: x-large;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      width: 100%;

      }
    }
  .card:hover {
    transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)}*/
.article1 {
  grid-column: span 2;
  padding: 10px;
  padding-left: 150px;
  margin-left: 55px;
}
.article1 h1 {
  color: aliceblue;
  text-shadow: 2px 2px 3px #272525;
  text-transform: uppercase;
  text-align: center;
  font-size: normal;
  position: absolute;
  padding: 0px;
  margin: -250px 65px;
}
.article1 button {
  background-color: #f99136;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 160px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 10px 5px rgba(68, 65, 58, 0.2);
}
.article1 button:hover {
  transform: scale(0.95);
}
.article1 p {
  color: #005371;
  margin-left: 28px;
  margin-right: 35px;
}
.article1 h3 {
  color: #005371;
}

.article2 {
  grid-column: span 2;
  padding: 10px;
  padding-left: 50px;
}

#sizeImg, #handImg {
  width: 350px;
  position: relative;
  box-shadow: 0 4px 10px 5px rgba(68, 65, 58, 0.2);
  border-radius: 5%;
  margin: 20px 10px;
  padding: 20px;
  text-align: center;
}
#sizeImg .link, #handImg .link {
  position: relative;
}

#sizeImg h1 {
  color: aliceblue;
  text-shadow: 2px 2px 3px #272525;
  text-transform: uppercase;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sizeImg:hover {
  transform: scale(0.95);
}

#handImg:hover {
  transform: scale(0.95);
}

aside {
  grid-column: span 4;
  background-color: #f99136;
  padding: 10px;
}

footer {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #005371;
  font-size: 12px;
}
footer .column1 {
  grid-column: span 1;
  margin-top: 12px;
  line-height: 1.4;
}
footer .column2 {
  grid-column: span 1;
  line-height: 1.4;
}
footer .column3 {
  grid-column: span 1;
  line-height: 1.4;
}
footer .column4 {
  grid-column: span 1;
  line-height: 1.4;
}
footer .content {
  grid-column: span 4;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
footer #fbLogo {
  padding-top: 13px;
}
footer #twtLogo {
  padding-bottom: 7px;
  padding-left: 10px;
}
footer #igLogo {
  padding-left: 10.4px;
}

a {
  color: #fff;
}

li, a {
  color: #fff;
  list-style-type: none;
}

h4, h5 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-indent: 25px;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
  .article1 {
    grid-column: span 1;
  }
  .article2 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .article1 {
    grid-column: span 1;
  }
  .article2 {
    grid-column: span 1;
  }
}
/* @media only screen and (min-width: 1024px) and (max-width: 1300px)*/
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.carousel {
  grid-column: span 4;
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}
.carousel .mySlides {
  display: none;
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
  contain: content;
}
.carousel .mySlides .text {
  color: #f2f2f2;
  font-size: 2.5vw;
  text-shadow: 2px 2px 3px #272525;
  padding: 50px 1px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.carousel .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.section-1 {
  grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-wrap: normal;
  width: 100%;
  justify-content: center;
}
.section-1 .card {
  width: 350px;
  position: relative;
  box-shadow: 0 4px 10px 5px rgba(68, 65, 58, 0.2);
  border-radius: 5%;
  margin: 20px 10px;
  padding: 20px;
  text-align: center;
}
.section-1 .card .link {
  position: relative;
}
.section-1 .card h1 {
  color: aliceblue;
  text-shadow: 2px 2px 3px #272525;
  text-transform: uppercase;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-1 .card img {
  width: 100%;
}

.card:hover {
  transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#mainpic {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}/*# sourceMappingURL=productpage.css.map */