.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr .8fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
       "header header header header"
       "main main main main"
       "article1 article1 article2 article2"
       "aside aside aside aside"
       "footer footer footer footer"
}

header{
    background-color: #005371;
    grid-area: header;

}

.main{
    grid-area: main;
}

.article1{
    grid-area: article1;
}

.article2{
    grid-area: article2;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}